body{
    cursor: url('../imgs/cursor.png'), auto;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    align-items: center;
}

.texto {
    text-align: justify;
}
p, li{
    color: white;
    font-size: 20px;
}

#fundo {
    padding: 30px 60px;
    width: 75%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centro{
    display: flex;
    align-items: center;
    justify-content: center;
}